.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-custom-row{
  background-color: white;
  color : black;
  height: 50px;
  text-align: center;
  border-bottom: 2px solid black;
  border-top : 1px solid black;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-body{
  background-color: #fbf8f5;

}

.pg{
  border:none;
}

.card-text{
  text-align: right;
}

.card-title{
  text-align: center;
}

.card-deck{
  justify-content: center;
  margin-bottom: 10px;
  max-width: max-content;
}

.grid-card  {

  margin: 20px auto;
  columns: 3;
  column-gap: 40px;
}


.grid-card >  div {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  break-inside: avoid;
}



.grid-card div img {
  max-width: 100%;
}

#read{
  background-color: #b08968;
  color: white;
}


@media(max-width: 1200px) {
  .grid-card {
    columns: 3;
    width: calc(100% -40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}

@media(max-width: 768px) {
  .grid-card {
    columns: 2;
    
  }
}

@media(max-width: 480px) {
  .grid-card {
    columns: 1;
    
  }
}

.smooth-text {
  transition-delay: 250ms;

}

@keyframes elements {
  0% {
     opacity: 0;
     max-width: 10px;  
  }
  
  6%, 9% {
     opacity: 1;
     max-width: 400px; 
  }
  
  12%, 100% {
     opacity: 0;
     max-width: 10px;
  }
}